@import 'mixin';

//==========初期化のため変更厳禁エリア START==========//
//初期状態はコンテンツ表示を非表示//
#global-container{
 opacity: 0;
 visibility: hidden;
}

//画像が読み込まれたタイミングで表示//
.pace-done #global-container{
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}


.pace {
  
  -webkit-pointer-events: none;
  pointer-events: none;
 
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  //ロード完了したタイミングで非表示//
  &.pace-inactive {
    display: none;
    }
  //=========初期化のため変更厳禁エリア END=============//


  //画面中央にpage-progressを持ってくる//
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;

  //page-progress部分が四角と数字を囲むボックス//
  .pace-progress {
    transform: none  !important;
    text-align: center;
    // ％表記の部分//
    &::after {
      content: attr(data-progress-text);
      display: block;
      font-weight: 100;
      font-size: 2em;
      font-family: 'Helvetica Neue', 'Yu Gothic', 'Meiryo', sans-serif;
      color: #535353;
    }
  }
}


//------------------ くるくる回る四角 START---------------//
.pace-progress-inner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 0 auto;
  @include animation(
    $name: sk-rotateplane,
    $duration: 1.2s,
    $iteration-count: infinite,
    $timing-function: ease-in-out
  );
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
//------------------ くるくる回る四角 END---------------//